.gerencia-container {
  background: #E3C9A5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 00px 20px 60px;
  position: relative;
}

.sala-label {
  position: fixed;
  top: 120px;
  left: 0;
  background: #3b6e1f;
  color: white;
  font-family: 'Itim', cursive;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 44px 14px 22px;
  border-radius: 0 14px 14px 0;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  z-index: 10;
}

.gerencia-wrapper {
  margin-top: 60px;
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.g-card {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.g-card-header {
  background: #3b6e1f;
  color: #ffffff;
  font-family: 'Itim', cursive;
  font-size: 18px;
  text-align: center;
  padding: 12px;
}

.g-card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.g-jogo-box {
  width: 100%;
  height: 100px;
  background: #d0cfc9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Itim', cursive;
  font-size: 14px;
  color: #777;
  cursor: pointer;
}

.g-inp {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  background: #d0cfc9;
  font-family: 'Itim', cursive;
  font-size: 14px;
  color: #555;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.g-inp::placeholder { color: #888; }

.g-btn-row {
  display: flex;
 
  width: 100%;
  gap: 15px;
}

.g-btn {
  border: none;
  border-radius: 10px;
  padding: 11px 20px;
  cursor: pointer;
  font-family: 'Itim', cursive;
  font-size: 14px;
  white-space: nowrap;
  transition: all 0.2s ease;
  flex: 1;
}

.g-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.g-btn:active { transform: scale(0.96); }

.btn-adicionar-jogo {
  background: #3b6e1f;
  color: #ffffff;
}

.btn-adicionar-jogo:hover { background: #2d5433; }

.btn-descartar {
  background: #8b1a1a;
  color: #ffb3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.btn-descartar:hover {
  background: #ffb3b3;
  color: #8b1a1a;
}

.btn-acao {
  background: #2f7486;
  color: #f2fcff;
  flex: none;
  
}

.btn-acao:hover {
  background: #83e0ff;
  color: #2f7486;
}

.g-action-row {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
   margin-bottom: 25px;
}

.msg-sucesso {
  color: #3b6e1f;
  font-family: 'Itim', cursive;
  font-size: 13px;
  margin: 0;
  text-align: center;
}

.msg-erro {
  color: #8b0000;
  font-family: 'Itim', cursive;
  font-size: 13px;
  margin: 0;
  text-align: center;
}